@font-face {
  font-family: YouSheBiaoTiHei;
  src: url("./YouSheBiaoTiHei.ttf");
}

@font-face {
  font-family: MetroDF;
  src: url("./MetroDF.ttf");
}

@font-face {
  font-family: DIN;
  src: url("./DIN.Otf");
}

@font-face {
  font-family: AlibabaPuHuiTi;
  font-weight: 400;
  src: url("./AlibabaPuHuiTi.woff2") format("woff2"),
    url("./AlibabaPuHuiTi.woff") format("woff");
  font-display: swap;
}
